/src/CoffeeMachine.API/bin
/src/CoffeeMachine.API/obj
/src/CoffeeMachine.API/Logs



.idea
.vs
*.bkp
*.drawio
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bin/
obj/
bld/
[Bb]in/
[Oo]bj/